html {
    font-size: 16px;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    background: linear-gradient(225deg, #7400b8, #6930c3, #5e60ce, #5390d9, #4ea8de, #48bfe3, #56cfe1);
}

body {
    margin: 0;
}

nav {
    display: flex;
    padding-left: 18%;
    gap: 25%;
    border-bottom: #64dfdf 1px solid;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    align-content: center;
    height: 70px;
    color: white;
}

.container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}