main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 50px;
}

h1 {
    margin-bottom: 0px;
}

p {
    margin-top: 5px;
}

.tree {
    width: 60px;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icons {
    width: 50px;
    height: auto;
    border-radius: 3px;
}

.container {
    display: flex;
    align-items: center;
}

.container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre {
    font-size: 24px;
    font-weight: bold;
    width: 35%;
}

.content {
    font-size: 16px;
    width: 35%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
}

.display-content {
    width: 80%;
    padding-top: 15px;
    justify-content:space-between;
}